[tools]
uv = "latest"
# node = "lts"
# pnpm = "latest"
"pipx:datasette" = "latest"
"pipx:sqlite-utils" = "latest"
# vercel = "latest"
# latest version of @vercel/python in `vercel.json`
# linter
"pipx:sqlfluff" = "latest"

[settings.pipx]
uvx = true

[settings.npm]
package_manager = "pnpm"

# hide global tasks
[tasks.changelog]
hide = true

[tasks."lint:infra"]
hide = true

[tasks.install]
description = "安装依赖"
run = """
#!/usr/bin/env bash
# datasette install https://github.com/Vinfall/datasette2vercel/archive/main.zip
datasette install datasette-dashboards
"""
hide = true

[tasks.init]
description = "初始化 Vercel 项目"
env.DB = "cngal.db"
env.PROJ = "cngal-stats"
env.META = "metadata.json"
run = """
#!/usr/bin/env bash
datasette publish vercel $DB -m $META --project=$PROJ --generate-vercel-json > vercel.json
vercel link
echo "Now remove deprecated name property in vercel.json"
"""
hide = true

[tasks.rename]
description = "重命名导出文件"
run = """
#!/usr/bin/env bash
for file in *" - "*条记录.csv; do
    if [[ -f "$file" ]]; then
        # ${file%% - *}: 删除从左往右第一个 " - " 及之后的内容
        name="${file%% - *}"
        new_name="${name}.csv"
        mv "$file" "$new_name"
    fi
done
"""
hide = true

[tasks.public]
description = "生成数据库"
env.DATA = "游戏.csv"
env.DB = "cngal.db"
run = """
#!/usr/bin/env bash
# 导入并检测列的类型
sqlite-utils insert $DB game $DATA --csv --detect-types
# 使用 index (真实 Id)
sqlite-utils transform $DB game --drop Id --rename 真实Id Id --pk Id
# 检查 table schema
# sqlite-utils schema $DB game
sqlite-utils insert $DB group 组织.csv --csv --detect-types
sqlite-utils transform $DB group --drop Id --rename 真实Id Id --pk Id
sqlite-utils insert $DB staff STAFF.csv --csv --detect-types
sqlite-utils transform $DB staff --drop Id --rename 真实Id Id --pk Id
sqlite-utils insert $DB prod 制作人.csv --csv --detect-types
sqlite-utils transform $DB prod --drop Id --rename 真实Id Id --pk Id
sqlite-utils insert $DB char 角色.csv --csv --detect-types
sqlite-utils transform $DB char --drop Id --rename 真实Id Id --pk Id
sqlite-utils insert $DB price 商店信息.csv --csv --detect-types
sqlite-utils insert $DB rating 评分.csv --csv --detect-types
"""
depends = ["clean", "rename"]
hide = true

[tasks.serve]
description = "启动服务"
env.DB = "cngal.db"
run = """
#!/usr/bin/env bash
datasette serve $DB -m metadata.json
"""
alias = "run"
depends = "public"

[tasks.deploy]
description = "部署到 Vercel"
env.DB = "cngal.db"
env.PROJ = "cngal-stats"
env.META = "metadata.json"
run = """
#!/usr/bin/env bash
datasette publish vercel $DB \
  --metadata=$META \
  --install=datasette-dashboards \
  --project=$PROJ
"""
# depends = ["backup", "public"]
hide = true

[tasks.clean]
description = "清理缓存"
env.DB = "cngal.db"
run = """
#!/usr/bin/env bash
rm $DB || true
"""
hide = true
